.large-hero {
    border-bottom: 10px solid $mainBlue;
    position: relative;
   &__big {
       display: block;
   }

   &__text-content {
    position: absolute;
    top: 55%;
    left:0;
    transform: translateY(-55%);
    width: 100%;
    text-align: center;

    @mixin Medium {
        left:-15%;

        }
    }

    &__title {
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color:#fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 0;

        @mixin Small {
            font-size: 1.1rem;
        }

        @mixin Medium {
            font-size: 1.5rem;
        }

        @mixin Large {
            font-size: 2.4rem;
        }

        
    }

    &__subtitle {
    font-size: 1.6rem;
    font-weight: 700;
    color:$mainBlue;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0;

        @mixin Small {
            font-size: 2.3rem;
        }

        @mixin Medium {
            font-size: 3.5rem;
        }

        @mixin Large {
            font-size: 4.8rem;
        }
    }

    &__description {
    font-size: .7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin:0.625rem 0 0 0;

     @mixin Small {
            font-size: 0.9rem;
            margin:0 0 2.6rem 0;
        }

        @mixin Large {
            font-size: 1.9rem;
            margin:0 0 2.6rem 0;
        }
    
    }

}




